@using ASP.net_Aplication.Models.Image;
@using ASP.net_Aplication.Models.Identity;

@model IEnumerable<SchowModelImage>

@{
    ViewData["Title"] = "View";
}


@if (Model == null || Model.Count() == 0) {
    <div class="text-center">
        <h1 class="display-4">Brak Danych</h1>
    </div>
} else {
    <h1 class="text-center">Obrazki</h1>

    foreach (SchowModelImage item in Model) {
        @await Html.PartialAsync("../Image/SingleImage.cshtml", model: item);
        <br />
    }
}
