@model ICollection<Aplikacja.Models.Comment>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3><a class="btn btn-primary" asp-controller="Comment" asp-action="Add">Dodaj komentarz</a></h3>

<h1>Lista komentarzy</h1>


<table border="1">
    <tr>
        <td>User</td>
        <td>Image</td>
        <td>Text</td>
    </tr>
    @foreach (var comment in Model)
    {
        <tr>
            <td>@comment.UserID</td>
            <td>@comment.ImageID</td>
            <td>@comment.CommentText</td>
        </tr>
    }
</table>