@model ASP.net_Aplication.Models.Image.SchowModelImage

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Usuń</h1>

<h3 class="text-center">Czy jesteś pewny że chcesz usunąć?</h3>
@await Html.PartialAsync("SingleImage.cshtml", viewData: new ViewDataDictionary(ViewData) { { "hidden", true } })
<br />
<div class="row justify-content-center">
    <form method="post" asp-action="DeleteAdmin" class="col-9">
        <input asp-for="ImageID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.ImageID">Wycofaj się</a>
    </form>
</div>
